<% content_for :title do %>
	Home
<% end %>
<h1>What do you want to know?</h1>

<form action="">
	<label for="f_org_size">Organisation size:</label>
	<select id="f_org_size" name="f_org_size">
		<option>1-5</option>
		<option>5-10</option>
		<option>10-50</option>
		<option>50-100</option>
		<option>100-500</option>
		<option>500+</option>
	</select>
	...
</form>