<% content_for :title do %>
	Home
<% end %>
<h1>What do you want to know?</h1>

<form action="">

	<label for="f_org_size">How big is your organisation?</label>
	<select id="f_org_size" name="f_org_size">
		<option>1-5</option>
		<option>6-25</option>
		<option>26+</option>
	</select>

	<label for="f_user_proficiency">How technical are you?</label>
	<select id="f_user_proficiency" name="f_user_proficiency">
		<option>Novice</option>
		<option>Intermediate</option>
		<option>Advanced</option>
	</select>
	...

	<div id="search_input_area">
		<input name="f_query" id="f_query" />
		<input class="submit" type="submit" />
	</div>

</form>

<div id="categories">
	<div class="category">
		<h3><a href="#">Category name</a></h3>
		<ul>
			<li><a href="#">Category item</a></li>
			<li><a href="#">Category item</a></li>
			<li><a href="#">Category item</a></li>
		</ul>
	</div>
	<div class="category">
		<h3><a href="#">Category name</a></h3>
		<ul>
			<li><a href="#">Category item</a></li>
			<li><a href="#">Category item</a></li>
			<li><a href="#">Category item</a></li>
		</ul>
	</div>
	<div class="category">
		<h3><a href="#">Category name</a></h3>
		<ul>
			<li><a href="#">Category item</a></li>
			<li><a href="#">Category item</a></li>
			<li><a href="#">Category item</a></li>
		</ul>
	</div>
</div>