<% content_for :title do %>
	Home
<% end %>

<div id="introduction" class="panel">
	<p>
		CTT Search Party brings together our expertise &amp;
		resources to help you find information about how your
		charity can better utilise technology.
	</p>
</div>

<form action="">

	<div id="who_are_you" class="panel">
	
		<h2>Tell us about yourself so that we can give you appropriate advice</h2>

		<label for="org_size">How big is your organisation?</label>
		<select id="org_size" name="org_size">
			<option>1-5</option>
			<option>6-25</option>
			<option>26+</option>
		</select>

		<label for="user_proficiency">How technically minded are you?<br/>(in regards to I.T)</label>
		<select id="user_proficiency" name="user_proficiency">
			<option>Novice</option>
			<option>Intermediate</option>
			<option>Advanced</option>
		</select>
	</div>

	<div id="search_input_area" class="panel">
		<h2>What do you want to know?</h2>
		<input name="query" id="query" />
		<input class="submit" type="submit" value="Search" />
	</div>

</form>

<div id="categories">
	<% @categories.each do |cat| %>
	  <div class="category">
  		<h3><a href="#"><%= cat[:title] %></a></h3>
  		<p><%= cat[:blurb] %></p>
  		<ul>
  			<li><a href="#">Category item</a></li>
  			<li><a href="#">Category item</a></li>
  			<li><a href="#">Category item</a></li>
  		</ul>
  		<p><a href="<%= cat[:top_search] %>" target="_blank">See More &#187;</a></p>
  	</div>
	<% end %>
</div>