<% content_for :title do %>
	Results
<% end %>
<div id="result_page">
	<h1>You asked: <strong>How do I blah?</strong></h1>
	<h2>What we found:</h2>

	<div class="result">
		<ul class="alternate_level_nav">
			<li class="selected"><a href="#">Novice</a></li>
			<li><a href="#">Intermediate</a></li>
			<li><a href="#">Advanced</a></li>
		</ul>
		<div class="content">

			<!-- Fed in from somewhere -->
			<!-- [stub data] -->

			<p>Blah'ing is not so easy for smaller organisations. Here are a few effective ways to blah:</p>
			<ul>
				<li>Spend less on Blah 1.0</li>
				<li>Teach your communications staff about the concept behind Blah</li>
				<li>We suggest using Blah 3.0 Beta.</li>
			</ul>
		</div>
	</div>

</div>