<% content_for :title do %>
	Results
<% end %>
<div id="result_page">
	<h1>You asked: <strong><%= @query.empty? ? "Nothing" : @query %></strong></h1>
	<h2>What we found:</h2>
	
	<% if @query.empty? %>
	  <p>Exactly what you asked for!</p>
	  <p><a href="http://www.sadtrombone.com" target="_blank">Now Go Here</a></p>
	<% else %>

  	<div class="result">
  		<div class="content">
  			<!-- Fed in from somewhere -->
  			<!-- [stub data] -->

  			<p>Blah'ing is not so easy for smaller organisations. Here are a few effective ways to blah:</p>
  			<ul>
  				<li>Spend less on Blah 1.0</li>
  				<li>Teach your communications staff about the concept behind Blah</li>
  				<li>We suggest using Blah 3.0 Beta.</li>
  			</ul>
  		</div>
  	</div>
  	
  <% end %>

</div>