<% content_for :title do %>
	Look what we found!
<% end %>
<div id="result_page">
	<h1>You asked: <strong><%= @query.empty? ? "Nothing" : @query %></strong></h1>
	<h2>What we found:</h2>

	<div class="results">
		<ul class="alternate_level_nav">
			<li class="selected"><a href="#">Novice</a></li>
			<li><a href="#">Intermediate</a></li>
			<li><a href="#">Advanced</a></li>
		</ul>
		<div class="content">

			<div class="result type-video">
				
			</div>

			<div class="result">
				
			</div>

			<div class="result type-video">
				
			</div>

			<div class="result">
				
			</div>

		</div>
	</div>

</div>