
/** GENERIC **/
body {
	margin: 0;
	padding: 0;
	background: #FFF;
	color: #111;
	font-size: .8em;
	font-family: sans-serif;
}

body, ul, ol, li, img, form, p, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	border: none;
}

a { color: #000; }
a:hover, a:focus { text-decoration: underline; }

.panel {
	padding: 20px;
	margin: 10px 0;
	background: #EEE;
}

.panel h2 {
	margin: 0;
	padding: 5px 0 10px;
}

/** MAIN **/

#main {
	background: #DDD;
	width: 960px;
	margin: 20px auto;
}

#head {
	border-bottom: 3px solid #CCC;
	padding: 15px;
}

#logo {
	font-size: 1.3em;
	font-weight: 700;
}

/** QUERY FORM **/

form .slider {
	width: 300px;
	margin: 10px 0 20px;
}

#search_input_area {

}

#search_input_area #f_query {
	padding: 4px;
	width: 200px;
}

/** CONTENT **/

#content {
	padding: 30px;
}

h1 {
	font-size: 1.8em;
	font-weight: normal;
	text-align: center;
	margin-bottom: 20px;
}

#categories {
	overflow: hidden;
	margin-top: 20px;
}

#categories .category {
	width: 280px;
	float: left;
	margin: 0 10px;
	background: #EEE;
}

#categories .category h3 a {
	padding: 8px;
	border-bottom: 2px solid #CCC;
	text-decoration: none;
	display: block;
}

#categories .category ul {
	padding: 10px 0 15px 3em;
}