body {
	margin: 0;
	padding: 0;
	background: #111;
	color: #FFF;
	font-size: .8em;
	font-family: sans-serif;
}

body, ul, ol, li, img, form, p, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	border: none;
}

a { color: #FFF; }
a:hover, a:focus { text-decoration: underline; }

#main {
	background: #222;
	width: 960px;
	margin: 20px auto;
}

#head {
	border-bottom: 3px solid #CCC;
	padding: 15px;
}

#logo {
	font-size: 1.3em;
	font-weight: 700;
}

/** QUERY FORM **/

form .slider {
	width: 300px;
	margin: 10px 0 20px;
}

#search_input_area {
	padding: 20px;
	margin: 20px 0;
	background: #333;
	font-size: 1.4em;
}

#search_input_area #f_query {
	padding: 4px;
	width: 200px;
}

/** CONTENT **/

#content {
	padding: 30px;
}

h1 {
	font-size: 1.8em;
	font-weight: normal;
	text-align: center;
	margin-bottom: 20px;
}

#categories {
	overflow: hidden;
	margin-top: 20px;
}

#categories .category {
	width: 280px;
	float: left;
	margin: 0 10px;
	background: #333;
}

#categories .category h3 a {
	padding: 8px;
	border-bottom: 2px solid #555;
	text-decoration: none;
	display: block;
}

#categories .category ul {
	padding: 10px 0 15px 3em;
}