<?xml version="1.0" encoding="utf-8"?>

<packages>
  <package id="MiniProfiler" version="1.9" />
  <package id="NBasicExtensionMethod" version="1.0.4292.32667" />
  <package id="NBootstrap" version="1.0.4293.40037" />
  <package id="Newtonsoft.Json" version="4.0.3" />
  <package id="NFeature" version="1.0.4306.31505" />
  <package id="NHelpfulException" version="1.0.4292.35244" />
  <package id="NServiceLocator" version="1.0.4293.1115" />
  <package id="NSure" version="1.0.4292.35410" />
</packages>