<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bjma.Utility.DataAccess" version="1.0.4312.31032" />
  <package id="Castle.Core" version="2.5.2" />
  <package id="FluentNHibernate" version="1.2.0.712" />
  <package id="Iesi.Collections" version="3.1.0.4000" />
  <package id="MiniProfiler" version="1.9" />
  <package id="Moq" version="4.0.10827" />
  <package id="NBasicExtensionMethod" version="1.0.4292.32667" />
  <package id="NBootstrap" version="1.0.4293.40037" />
  <package id="Newtonsoft.Json" version="4.0.3" />
  <package id="NFeature" version="1.0.4306.31505" />
  <package id="NHelpfulException" version="1.0.4292.35244" />
  <package id="NHibernate" version="3.1.0.4000" />
  <package id="NHibernate.Castle" version="3.1.0.4000" />
  <package id="NServiceLocator" version="1.0.4293.1115" />
  <package id="NSure" version="1.0.4292.35410" />
</packages>